* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;
}

body {
    background-color: rgba(13, 111, 118, 0.4);
    /* font-size: 16px; */
}
/* @media (max-width: 767.99px) {
    body {
        font-size: 14px;
    }
} */
/* @media (max-width: 479.99px) {
} */

button {
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(144, 133, 133, 0.6);
}

.container {
    max-width: 500px;
    margin: 50px auto 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}
/* @media (max-width: 767.99px) {
    .container {
    }
} */
/* @media (max-width: 479.99px) {
    .container {
    }
} */

.title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(13, 111, 118, 0.8);
}
.input-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#task-text-input {
    flex: 1 1 auto;
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}
#task-text-input:focus {
    border-bottom: 1px solid rgba(13, 111, 118, 0.4);
}
#add-task-btn {
    flex: 0 1 25%;
    padding: 5px;
    background-color: rgba(13, 111, 118, 0.4);
}
@media (max-width: 479.99px) {
    .input-panel {
        flex-wrap: wrap;
    }
    #add-task-btn {
        flex: 0 1 100%;
        padding: 2px;
        margin-top: 5px;
    }
}

.controls-panel {
    margin-bottom: 10px;
}
.controls-btn {
    padding: 2px 5px;
    background-color: rgba(13, 111, 118, 0.3);
}

.task-list {

}
/* @media (max-width: 1023.99px) {
    .task-list {
    }
}
@media (max-width: 479.99px) {
    .task-list {
    }
} */
.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    background-color: transparent;
    transition: all 0.5s;
}
.completed {
    /* background-color: rgba(65, 172, 65, 0.6); */
    text-decoration: line-through;
    opacity: 0.5;
}

.custom-checkbox {
    position: absolute;
    width: 0;
    height: 0;
}
.custom-checkbox:hover {
    cursor: pointer;
}
.custom-checkbox::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid rgba(13, 111, 118, 0.8);
    /* border-radius: 3px 0 3px; */
    border-radius: 50%;
    transition: all 0.3s;
} 
.custom-checkbox:checked::after {
    top: -7px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: 2px solid transparent;
    border-right-color: #000000;
    border-bottom-color:#000000;
    border-radius: 0;
    transform: rotate(45deg);
}

.task__text {
    /* word-break: break-all; */
    hyphens: auto;
    margin-left: 25px;
}
.task__delete-btn, 
.task__edit-btn {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.task__delete-btn {
    background-image: url("./icons/close.svg");
    margin-left: 10px;
}
.task__edit-btn {
    background-image: url("./icons/edit.svg");
    margin-left: auto;
}